*, *::before, *::after {
    box-sizing: border-box;
    // outline: 1px solid black;
}

body {
    line-height: 1.5;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
} 

img {
    display: block;
}