<div class="navBox">
    <div class="nav container_nav">
        <img class="logo" src="/assets/images/logo-white.png" alt="logo">
        <ul class="navList">
            <li class="item"><a class="link" href="#">系列鏡框</a></li>
            <li class="item"><a class="link" href="#">門市據點</a></li>
            <li class="item"><a class="link" href="#">部落格</a></li>
            <li class="item"><a class="link" href="#">常見問題</a></li>
        </ul>
    </div>
</div>