.container {
  max-width: 1320px;
  @include container-def;

  @include pad {
    max-width: 720px;
  }

  @include mobile {
    max-width: 369px;
  }
}

.container_nav {
  max-width: 1320px;
  @include container-def;

  @include pad {
    max-width: 720px;
  }

  @include mobile {
    padding-right: 0;
    padding-left: 0;
  }
}

.container_contact {
  max-width: 660px;
  @include container-def;

  @include pad {
    max-width: 576px;
  }

  @include mobile {
    max-width: 369px;
  }
}

.title_sec {
  font-size: 48px;
  color: $color-pri;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;

  @include mobile {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.title_third {
  font-size: 48px;
  color: $color-sec;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.link, .button {
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(0.9);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.col-3 {
  width: 25%;
  @include row-def;
}

.col-4 {
  width: 33.333%;
  @include row-def;
}

.col-md-lg-6 {
  @include pad-larger {
    width: 50%;
    @include row-def;
  }
}

.col-md-6 {
  @include pad {
    width: 50%;
    @include row-def;
  }
}

.col-md-12 {
  @include pad {
    width: 100%;
    @include row-def;
  }
}

.col-sm-12 {
  @include mobile {
    width: 100%;
    @include row-def;
  }
}
