// colors
$color-pri: #650300;
$color-sec: #AA0601;
$color-whi: #FFFFFF;
$color-bla: #000000;

$color-pro1: #5F3E2D;
$color-pro2: #B75929;

$color-pageNav: #555555;
$color-pageNav-next: #F2F2F2;

// font size
$fz-42: 42px;
$fz-32: 32px;
$fz-24: 24px;
$fz-16: 16px;